--extra-index-url https://download.pytorch.org/whl/cu118
streamlit
opencv-python
pillow
numpy
onnx
onnxruntime  # Always include the CPU version for compatibility
insightface
psutil
tk
customtkinter
tkinterdnd2; sys_platform != 'darwin' and platform_machine != 'arm64'
tkinterdnd2-universal; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow
opennsfw2
protobuf
tqdm
gfpgan
