--extra-index-url https://download.pytorch.org/whl/cu118

streamlit
numpy
opencv-python
pillow
onnx
insightface
psutil
customtkinter
tkinterdnd2
tkinterdnd2-universal
onnxruntime
onnxruntime-gpu
tensorflow
opennsfw2
protobuf
tqdm
gfpgan
